<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup page</title>
  </head>
  <body>
    <div id="container">
      <h2>Signup</h2>
      <form th:action="@{/members/signup}" th:object="${member}" method="post">
        <div th:if="${#fields.hasAnyErrors()}">
          <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <fieldset>
          <ul>
            <li>
              <label for="email">Email</label>
              <input type="text" th:field="*{email}" />
            </li>
            <li>
              <label for="passwd">Password</label>
              <input type="password" th:field="*{passwd}" />
            </li>
            <li>
              <label for="name">Name</label>
              <input type="text" th:field="*{name}" />
            </li>
            <li>
              <input type="submit" value="가입" />
              <input type="reset" value="취소" />
            </li>
          </ul>
        </fieldset>
      </form>
    </div>
  </body>
</html>
